<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
<div class="card">
    <div class="card-body mx-4">
        <div class="container">
            <p class="my-5 mx-5" style="font-size: 30px;">Thank for your purchase</p>
            <div class="row">
                <ul class="list-unstyled">
                    <li class="text-black">John Doe</li>
                    <li class="text-muted mt-1"><span class="text-black">Invoice</span> #12345</li>
                    <li class="text-black mt-1">April 17 2021</li>
                </ul>
                <hr>
                <div th:each="history : ${history}">

                    <div class="row">
                        <div class="col-xl-10">
                            <p>Purchase Time</p>
                        </div>
                        <div class="col-xl-2">
                            <time th:datetime="${#dates.format(history.purchaseTime, 'dd/MM/yyyy')}"
                                  th:text="${#dates.format(history.purchaseTime, 'dd/MM/yyyy')}"></time>
                        </div>
                        <hr>
                    </div>

                    <div class="row">
                        <div class="col-xl-10">
                            <p>Ticket Status</p>
                        </div>
                        <div class="col-xl-2">
                            <h5 style="position: relative;margin-top: 10px" class="mb-0">
                                <span th:if="${history.ticketStatus}" th:text="'Đã thanh toán'"></span>
                                <span th:unless="${history.ticketStatus}" th:text="'Chưa thanh toán'"></span>
                            </h5>
                        </div>
                    </div>
                    <hr style="border: 2px solid black;">

                    <div class="row text-black">
                        <div class="col-xl-10">
                            <p>Total Price</p>
                        </div>
                        <div class="col-xl-2">
                            <h5 style="position: relative;margin-top: 10px" class="mb-0"><p
                                    th:text="${history.price}"></p></h5>
                        </div>
                        <hr style="border: 2px solid red;">
                    </div>
                </div>
                <hr>
            </div>

            <div class="text-center" style="margin-top: 90px;">
                <a><u class="text-info">View in browser</u></a>
            </div>

        </div>
    </div>
</div>
</body>
</html>